<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Jogo da Memória</title>

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="/assets/css/LineIcons.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="/assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/assets/css/style.css">
    
    <!--====== Jogo Da Memoria css ======-->
    <link rel="stylesheet" href="jogo_da_memoria.css">
</head>

<body>

    <header class="header-area">
        <div class="navgition navgition-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <img src="/assets/images/logo.png" height="100px" alt="Logo">
                    </div>

                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        </div> <!-- navgition -->
    </header>

    <div class="container" style="margin: auto;">
        <section class="memory-game">
            <div class="memory-card" data-framework="A">
                <img class="front-face" src="/assets/images/girafa.png" alt="Imagens da Carta">
                <img class="back-face" src="/assets/images/background-card.png" alt="Constas da Carta">
            </div>
            <div class="memory-card" data-framework="A">
                <img class="front-face" src="/assets/images/girafa.png" alt="Imagens da Carta">
                <img class="back-face" src="/assets/images/background-card.png" alt="Constas da Carta">
            </div>
            <div class="memory-card" data-framework="B">
                <img class="front-face" src="/assets/images/leão.png" alt="Imagens da Carta">
                <img class="back-face" src="/assets/images/background-card.png" alt="Constas da Carta">
            </div>
            <div class="memory-card" data-framework="B">
                <img class="front-face" src="/assets/images/leão.png" alt="Imagens da Carta">
                <img class="back-face" src="/assets/images/background-card.png" alt="Constas da Carta">
            </div>
            <div class="memory-card" data-framework="C">
                <img class="front-face" src="/assets/images/macaco.png" alt="Imagens da Carta">
                <img class="back-face" src="/assets/images/background-card.png" alt="Constas da Carta">
            </div>
            <div class="memory-card" data-framework="C">
                <img class="front-face" src="/assets/images/macaco.png" alt="Imagens da Carta">
                <img class="back-face" src="/assets/images/background-card.png" alt="Constas da Carta">
            </div>
            <div class="memory-card" data-framework="D">
                <img class="front-face" src="/assets/images/tucano.png" alt="Imagens da Carta">
                <img class="back-face" src="/assets/images/background-card.png" alt="Constas da Carta">
            </div>
            <div class="memory-card" data-framework="D">
                <img class="front-face" src="/assets/images/tucano.png" alt="Imagens da Carta">
                <img class="back-face" src="/assets/images/background-card.png" alt="Constas da Carta">
            </div>
            <div class="memory-card" data-framework="E">
                <img class="front-face" src="/assets/images/zebra.png" alt="Imagens da Carta">
                <img class="back-face" src="/assets/images/background-card.png" alt="Constas da Carta">
            </div>
            <div class="memory-card" data-framework="E">
                <img class="front-face" src="/assets/images/zebra.png" alt="Imagens da Carta">
                <img class="back-face" src="/assets/images/background-card.png" alt="Constas da Carta">
            </div>
            <div class="memory-card" data-framework="F">
                <img class="front-face" src="/assets/images/elefante.png" alt="Imagens da Carta">
                <img class="back-face" src="/assets/images/background-card.png" alt="Constas da Carta">
            </div>
            <div class="memory-card" data-framework="F">
                <img class="front-face" src="/assets/images/elefante.png" alt="Imagens da Carta">
                <img class="back-face" src="/assets/images/background-card.png" alt="Constas da Carta">
            </div>

        </section>
        <ul class="header-btn">
            <li>
                <a class="main-btn btn-one" href="/index.html">Parar</a>
            </li>
        </ul>
    </div>
    <script src="script.js"></script>
</body>

</html>